.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.elements {
  min-width: 400px;
  max-width: 1000px;
  margin: 5vh 5vw 0vh 5vw;
}

h1 {
  font-size: calc(10px + 2.5vmin);
}

.subheading {
  font-size: calc(10px + 1vmin);
}

.title {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.trackSummary {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.trackArtwork {
  height: calc(20 * min(1vw, 1vh));
  width: calc(20 * min(1vw, 1vh));
  margin-right: 10px;
}

.text-left {
  text-align: left;
}

.songName {
  font-size: calc(10px + 1.5vmin);
}

.artistName {
  font-size: calc(10px + 1vmin);
}

.albumName {
  font-size: calc(10px + 1vmin);
}

.tableHeading {
  font-size: calc(10px + 1.5vmin);
}

.searchContainer {
  margin-bottom: 5px;
}

.urlInput {
  font-size: calc(10px + 0.75vmin);
}

.getButton {
  font-size: calc(10px + 0.75vmin);
}

.clearButton {
  font-size: calc(10px + 0.75vmin);
}

.infoButton {
  font-size: calc(10px + 0.75vmin);
}

@media (min-width: 400px) {
  .searchContainer {
    display: block;
  }

  .urlInput {
    margin-bottom: 5px;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
  }

  .buttonContainer > button {
    width: 100%;
  }

  .percentages {
    display: block;
  }

  .energyContainer {
    margin-bottom: 5px;
  }

  .energyContainer-added {
    border-top: 1px solid white;
    margin-bottom: 5px;
  }
}

@media (min-width: 600px) {
  .searchContainer {
    display: flex;
    margin-bottom: 10px;
  }

  .urlInput {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .buttonContainer {
    width: unset;
  }

  .buttonContainer > button {
    width: unset;
  }

  .percentages {
    display: flex;
    border-top: unset;
  }

  .energyContainer {
    flex: 1;
    padding: 0px 10px;
    border-top: unset;
  }

  .energyContainer-added {
    flex: 1;
    padding: 0px 10px;
    border-top: unset;
    border-left: 1px solid white;
  }
}

.energyDescription {
  font-size: calc(10px + 0.5vmin);
  width: auto;
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
