.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.elements {
  width: 800px;
  margin-top: 20vh;
}

.subheading {
  font-size: calc(10px + 1.5vmin);
}

.title {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.trackSummary {
  margin: 10px;
}

.trackArtwork {
  height: 300px;
  width: 300px;
  margin-right: 10px;
}

.text-left {
  text-align: left;
}

.songName {
  font-size: calc(10px + 1.5vmin);
}

.artistName {
  font-size: calc(10px + 1vmin);
}

.albumName {
  font-size: calc(10px + 1vmin);
}

.tableHeading {
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
